body {
    background: #e5e5e5;
    font-family: 'Roboto';
  }

.container {
    background: #e5e5e5;
    margin: 0px;
    width: 100vw;
}

.header{
    height: 100px;
    background-color: #184366;
    width: 100vw;
}

.navbar{
    background-color: #184366;
    color: #ffffff;
    height: auto;
    width: 100vw;
    margin-left: -15px;
}

.navbar-nav{
    margin-left: auto !important;
}

.bg-light{
    background-color: #184366 !important;
}

.nav-link{
    color: #ffffff !important;
}

.nav-link:hover{
    color:#f45b69 !important;
}

.active{
    color: gray !important;
}

.logo{
    height: 100px;
    padding: 15px;
    align-items: center;
}

.headernav {
    display: flex;
    flex-wrap: nowrap;
    align-items: middle;
    text-align: right;
}

.headernav ul{
    display: inline-block;
    height: 100%;
    padding: 0px;
    width: 100%;
    margin-left: 5%;
}

.headernav li {
    display: inline-block;
    position: relative;
    text-align: center;
    margin: 10px;
    padding: 0.65rem;
    color: #ffffff;
    text-decoration: none;
    padding: 0;
}
  
.headernav li a {
color: #ffffff;
text-decoration: none;
display: block;
}

.headernav li:hover {
    color: #f45b69;
}

.headernav li:hover a {
    color: #f45b69;
}

.intro{
    height: 550px;
    width: 100vw;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('images/kenanflaglermain.jpg');
}

.intro2{
    height: auto;
    width: 100vw;
    background-color: #ffffff;
}

.flexbox1{
    width: 450px;
}

.partners{
    width: 450px;
    margin: 25px;
}

.introtext {
    padding: 45px;
    color: #FFFFFF;
    max-width: 560px;
}

.introcontent{
    margin: 25px;
    margin-left: 75px;
    vertical-align: middle;
}

.supportingContent{
    height: auto;
    width: 100vw;
    background-color: #ffffff;
}

.supportingImages{
    width: 450px;
    height: 300px;
}

.more{
    margin: 25px;
}

.btn:hover{
    background-color: #f45b69;
    color: #ffffff !important;
}

.btn {
    position: relative;
    overflow: hidden;
    align-items: center;
    color: #ffffff;
    background-color: #5f98c9;
    outline: 0;
    border: 0;
    border-radius: 0;
    height: 36px;
}

.subtext{
    color: #000000;
    background-color: #d3d3d3;
    height: auto;
    width: 100vw;
    padding-top: 20px;
    padding-left: 15px;
}

.main{
    display: flex;
}

.main h1{
    color: #000000;
}

.main{
    margin-top:50px;
    display: flex;
}

.mainimages{
    width: 450px;
    height: 300px;
    margin-left: 10%;
    display: block;
    position: relative;
    margin-bottom: 15px;
}

.textlink{
    text-decoration: underline;
    color: #f45b69;
}

.textlink:hover{
    color: #184366;
}

.maincontent{
    margin: 75px;
    margin-bottom: 50px;
    position: relative;
    margin-left: 5%;
    margin-top: 0px;
}

.maincontent1{
    margin: 75px;
    margin-bottom: 50px;
    position: relative;
    margin-left: 300px;
    margin-top: 0px;
    margin-right: 0px;
}

.cards{
    color: #000000;
    background-color: #d3d3d3;
    height: auto;
    width: 100vw;
    padding-top: 20px;
    padding-left: 20px;
    margin-left: -15px;
}

.card-text{
    height: 120px;
}

.introcards{
    padding-left: 20px;
}

.card{
    margin: 15px;
    justify-content: center;
    box-shadow: 8px 5px 5px #969696;
}

.card-img-top{
    height: 150px;
}

.footertext{
    color: #ffffff;
    margin-top: 35px;
    padding-left: 300px;
}


@media only screen and (max-width: 661px) {
    .introtext {
        padding: 45px;
        color: #FFFFFF;
        max-width: 90%;
    }

    .partners{
        width: 400px;
        margin: 10px;
    }

    .introcontent{
        margin: 10px;
        vertical-align: middle;
    }

    .footertext{
        color: #ffffff;
        margin-top: 35px;
        padding-left: 200px;
    }
}
